<div class="container">
    <h3>Registra un producto</h3>
    <div class="form">
        <form action="/products/newProducts" method="POST">
        <div>
            <input type="text" name="product" placeholder="Inserte su Producto" autofocus>
            <input type="number" name="cantidad" placeholder="Inserte la cantidad" >
            <input type="number" name="precio" placeholder="Inserte el precio" >
             <div class="login-button">
            <button href="/" class="button"><span>Continuar</span></button>
          </div>
        </div>
        </form>
    </div>
</div>