 <div class="card card-bienvenida mt-6">
      <header class="card-header">
        <p class="card-header-title">Bienvenido!</p>
      </header>
      <div class="card-content">
        <h2 class="menu-options">Opciones del menú:</h2>
        <div class="opciones-menu">
        <a href="/clientes"class="button-loading link-loading mt-6" type="submit">Clientes</a>
        <a href="/files" class="button-loading link-loading mt-6" type="submit">Expedientes</a>
        <a href="/products" class="button-loading link-loading mt-6" type="submit">Productos</a>
        <a href="/citas" class="button-loading link-loading mt-6" type="submit">Citas</a>
        </div>
      </div>
    </div>