<div class="container">
    <h3>Registra tus Datos</h3>
    <div class="form">
        <form action="/clientes/newClients" method="POST">
        <div>
            <input type="text" name="name" placeholder="Inserte su nombre" autofocus>
            <input type="text" name="lastName" placeholder="Inserte su Apellido" autofocus>
            <input type="number" name="cedula" placeholder="Inserte su Cedula" autofocus>
            <input type="date" name="nacimiento" id="date" placeholder="Fecha de nacimiento" maxlength="10" autofocus>


            {{#if errors}}
            <label>{{text}}</label>
            {{/if}}
             <div class="login-button">
            <button href="/" class="button"><span>Continuar</span></button>
          </div>
        </div>
        </form>
    </div>
</div>